---
import { ViewTransitions } from "astro:transitions";
import { Head } from "astro:head";
---

<!DOCTYPE html>
<html lang="en">
  <Head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro Basics</title>

    <!-- ✅ tambahkan script AdSense di dalam <Head> -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1453358924217587" crossorigin="anonymous"></script>
  </Head>

  <body>
    <ViewTransitions />
    <slot />
  </body>
</html>

<style>
  html, body { margin: 0; width: 100%; height: 100%; }
</style>
